@charset "UTF-8";

.sidebar {
  width: 30%;
  padding-left: 0;
}

.content {
  width: 70%;
  padding-right: 0;
}

.page-top {
  width: 70%;
}

.tags-cloud-item:nth-child(1n){color:#3a8286}
.tags-cloud-item:nth-child(2n){color:#b56b00}
.tags-cloud-item:nth-child(3n){color:#191c21}
.tags-cloud-item:nth-child(4n){color:#00b57a}
.tags-cloud-item:nth-child(5n){color:#49a3a7}
.tags-cloud-item:nth-child(6n){color:#ff5064}
.tags-cloud-item:nth-child(7n){color:#6c44d1}
.tags-cloud-item:nth-child(8n){color:#b56b00}
.tags-cloud-item:nth-child(9n){color:#191c21}

@media screen and (max-width: 960px),
print {
  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .page-top {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}
td, th {
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}
th {
  text-align: left;
  background-color: #c8c8c8;
  border-top: none;
}
td {
  white-space: nowrap;
  border-bottom: none;
  color: rgb(20, 20, 20);
}
td:first-of-type, th:first-of-type {
  border-left: none;
}
td:last-of-type, th:last-of-type {
  border-right: none;
}
td:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
